<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FinancePlus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <add name="ConnData" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=banksql;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="FinancePlus.Properties.Settings.banksqlConnectionString"
      connectionString="Data Source=localhost\sqlexpress;Initial Catalog=banksql;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="banksqlEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Data Source=localhost\sqlexpress;Initial Catalog=banksql;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="UserStatsbanksqlEntities1" connectionString="metadata=res://*/ModelUserStats.csdl|res://*/ModelUserStats.ssdl|res://*/ModelUserStats.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Data Source=Data Source=localhost\sqlexpress;Initial Catalog=banksql;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="banksqlEntities1" connectionString="metadata=res://*/UserStatModel.csdl|res://*/UserStatModel.ssdl|res://*/UserStatModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=banksql;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <FinancePlus.Properties.Settings>
      <setting name="FinancePlus_newAccountSearchByBVN_FetchInformationBVNService"
        serializeAs="String">
        <value>http://localhost:55451/FetchInformationBVNService.asmx</value>
      </setting>
    </FinancePlus.Properties.Settings>
  </applicationSettings>
</configuration>
